In [1]:
text = "ice cream"

In [2]:
text

'ice cream'

In [3]:
text[0]

'i'

In [4]:
text[1]

'c'

In [6]:
text[0] = 'g' # strings are immutable.

TypeError: 'str' object does not support item assignment

In [7]:
text[0:3]

'ice'

In [8]:
text[4:]

'cream'

In [9]:
text[4:9]

'cream'

In [10]:
text[4:-1]

'crea'

In [11]:
text[4:0]

''

In [12]:
text = "hello"

In [13]:
text = 'hello'

In [14]:
text = 'lets's learn python'

SyntaxError: unterminated string literal (detected at line 1) (3853966357.py, line 1)

In [15]:
text = "let's learn python"

In [16]:
text = 'hello "world"'

In [18]:
text

'hello "world"'

In [19]:
address = """
1 purple street
new york
usa
"""

In [20]:
address

'\n1 purple street\nnew york\nusa\n'

In [21]:
print(address)

1 purple street
new york
usa

In [22]:
s1 = "hello"
s2 = "world"

In [23]:
s1 + s2

'helloworld'

In [24]:
s = "total states in usa # "

In [25]:
number = 25

In [26]:
s + number

TypeError: can only concatenate str (not "int") to str

In [29]:
str(number)

'25'

In [30]:
s + str(number)

'total states in usa # 25'