In [1]:
# store monthly expenses in a list and find out toal expenses for all months

exp = [2340, 2500, 2100, 3100, 2980,]
total = exp[0] + exp[1] + exp[2] + exp[3] + exp[4]
print(total)

13020

In [2]:
print(sum(exp))

13020

In [5]:
total = 0
for item in exp:
    total += item
    
print(total)

13020

In [6]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
for i in range(1,11):
    print(i**i)

1
4
27
256
3125
46656
823543
16777216
387420489
10000000000

In [12]:
total = 0
for i in range(len(exp)):
    print('Month:', i + 1, '- Expenses: ', exp[i])
    total = total + exp[i]

print("Total: ", total)

Month: 1 - Expenses:  2340
Month: 2 - Expenses:  2500
Month: 3 - Expenses:  2100
Month: 4 - Expenses:  3100
Month: 5 - Expenses:  2980
Total:  13020

In [13]:
key_location = "chair"
locations = ["garage", "living room", "chair", "closet"]

for location in locations:
    if location == key_location:
        print("Key is found in ", location)
        break
    else:
        print("Key is not found in ", location)

Key is not found in  garage
Key is not found in  living room
Key is found in  chair

In [18]:
# printing only even squares.
for i in range(1,6):
    if i % 2 == 0:
        
    else:
        print(i*i)

IndentationError: expected an indented block after 'if' statement on line 2 (3879707705.py, line 4)

In [19]:
# printing only even squares.
for i in range(1,6):
    if i % 2 == 0:
        continue
    else:
        print(i*i)

1
9
25

In [20]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5