In [1]:
# given two lists, find total of each.

tom_exp_list = [2100, 3400, 3500]
joe_exp_list = [200, 500, 700]

In [5]:
total = 0
for exp in tom_exp_list:
    total += exp
print("Tom's total expenses: ", total)

total = 0
for exp in joe_exp_list:
    total += exp
print("Joe's total expenses: ", total)

Tom's total expenses:  9000
Joe's total expenses:  1400

In [6]:
def calculate_total(exp):
    total = 0
    for item in exp:
        total += item
    return total

In [7]:
toms_total = calculate_total(tom_exp_list)
joes_total = calculate_total(joe_exp_list)

In [8]:
print("Tom's total expenses: ", toms_total)
print("Joe's total expenses: ", joes_total)

Tom's total expenses:  9000
Joe's total expenses:  1400

In [9]:
def sum(a, b):
    total = a + b
    return total

In [12]:
# arguements are of two types, positional and named. 
n = sum(5, 6) # positional arguments
n

11

In [14]:
n = sum(b = 6, a = 5) # named arguments
n

11

In [15]:
# name error: pings error for global and local variable.

In [16]:
# default arguments
n = sum(5)

TypeError: sum() missing 1 required positional argument: 'b'

In [17]:
def sum(a, b = 0):
    total = a + b
    return total

In [20]:
n = sum(5)
n

5

In [21]:
# Documentation strings. For explaining what the function is doing.

In [22]:
def sum(a, b = 0):
    """
    This function takes two arguments a and b.
    And returns sum of a and b. 
    """   
    total = a + b
    return total

In [23]:
help(sum)

Help on function sum in module __main__:

sum(a, b=0)
    This function takes two arguments a and b.
    And returns sum of a and b.