In [1]:
d = {
    "tom": 1234567890,
    "rob": 1234567891,
    "joe": 1234567892,
}

In [2]:
d

{'tom': 1234567890, 'rob': 1234567891, 'joe': 1234567892}

In [3]:
d["tom"]

1234567890

In [4]:
d["sam"] = 1234567893

In [5]:
d

{'tom': 1234567890, 'rob': 1234567891, 'joe': 1234567892, 'sam': 1234567893}

In [6]:
# here the order doesn't matter.

In [7]:
del d["sam"] # deleting an item.

In [8]:
d

{'tom': 1234567890, 'rob': 1234567891, 'joe': 1234567892}

In [9]:
for key in d:
    print("Key", key, "value:", d[key]) # comma automatically adds blank char.

Key tom value: 1234567890
Key rob value: 1234567891
Key joe value: 1234567892

In [10]:
for k,v in d.items():
    print("Key", k, "value:", v)

Key tom value: 1234567890
Key rob value: 1234567891
Key joe value: 1234567892

In [11]:
"tom" in d

True

In [12]:
"sameer" in d

False

In [13]:
d.clear()
d

{}

In [14]:
point = (5,9)

In [15]:
point[0]

5

In [16]:
point[1]

9

In [19]:
note = """
List uses []
tuple uses ()
dictionary uses {}
set uses set()

List: all values have similar meaning(homogeneous)
Tuple: All values have different meaning(heterogeneous)
In "point" example 5 is for x-coordinate and 9 is for y-coordinate.

tuples are immutable, lists are mutable. 

"""