Dataframe is a main object in Pandas. It is used to represent data with rows and columns(tabular or excel spreadsheet like data)
1) What is dataframe?<br>
2) Create dataframe from csv file and python dictionary<br>
3) Dealing with rows and columns<br>
4) Operations: mean, max, std, describe<br>
5) Conditional selection<br>
6) set_index function and usefulness of it<br>

In [ ]:
"""
import pandas as pd
df = pd.read_csv("filename.csv")
df
df.shape ; returns a doublet.
df.head()
df.tail()
df[2:5] returns the rows 2 to 4
df.column_name
df['column_name']
df.describe() # for any numeric columns.
df[[]]
df[['day', 'temperature']][df.temperature == df['temperature'].max()]
see the belwo eight cells. 
"""

In [16]:
type(df['temperature'])

pandas.core.series.Series

In [17]:
type([df['temperature']])

list

In [18]:
type(df[['temperature']])

pandas.core.frame.DataFrame

In [19]:
type({df['temperature']})

TypeError: unhashable type: 'Series'

In [21]:
type(df['temperature','windspeed'])

KeyError: ('temperature', 'windspeed')

In [22]:
type(df[['temperature','windspeed']])

pandas.core.frame.DataFrame

In [23]:
type([df['temperature','windspeed']])

KeyError: ('temperature', 'windspeed')

In [24]:
type({df['temperature','windspeed']})

KeyError: ('temperature', 'windspeed')

In [2]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\sri\\Desktop\\DS-Codebasics\\weather_data.csv")

In [9]:
df = pd.read_csv("weather_data.csv")

In [4]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [5]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [56]:
# data frame can also be created from a python dictionary. 
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}

df = pd.DataFrame(weather_data)

In [10]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [11]:
df.shape

(6, 4)

In [13]:
rows, columns = df.shape

In [14]:
rows

6

In [15]:
columns

4

In [16]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [17]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [18]:
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [19]:
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [20]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [21]:
df[:]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [22]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [23]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [24]:
df.temperature

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [25]:
df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [26]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [29]:
type(df['event']) # all columns in dataframe are of type series.

pandas.core.series.Series

In [30]:
df[['event', 'day']]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [31]:
# operations with data frame.

In [32]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [33]:
df.temperature.max()

35

In [34]:
df['temperature'].max()

35

In [36]:
df['temperature'].mean()

30.333333333333332

In [37]:
df['temperature'].min()

24

In [38]:
df['temperature'].std()

3.8297084310253524

In [40]:
df.describe() # prints only for the numerical columns.

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [41]:
# also supports selection like sql

In [44]:
df[df.temperature >= 32] # df[ condition ]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [45]:
df[df.temperature == df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [ ]:
# tip, in df header try not use spaces! if used you will forced to use below:
df['temperature space']
# and not
df.temperature space

In [48]:
df[['day', 'temperature']] [df.temperature == df['temperature'].max()]

        day  temperature
1  1/2/2017           35

In [49]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [50]:
df.set_index('day')

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [51]:
df.loc['1/4/2017']

KeyError: '1/4/2017'

In [57]:
# Why error ?
# set_index doesn't modify the original data frame. 
# it returns a new data frame. 
# to override the above functionality we use inplace = Ture
df.set_index('day', inplace = True)

In [58]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [59]:
df.loc['1/3/2017']

temperature      28
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

In [61]:
df.reset_index(inplace = True)

In [62]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [64]:
df.set_index('event', inplace = True)

In [65]:
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [66]:
df.loc['Rain']

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Rain   1/5/2017           32          4

In [67]:
df.reset_index(inplace = True)

In [68]:
df

   event       day  temperature  windspeed
0   Rain  1/1/2017           32          6
1  Sunny  1/2/2017           35          7
2   Snow  1/3/2017           28          2
3   Snow  1/4/2017           24          7
4   Rain  1/5/2017           32          4
5  Sunny  1/6/2017           31          2

In [69]:
df.set_index(event, inplace = True)

NameError: name 'event' is not defined

In [73]:
df.set_index?